@import "./variables.scss";
@import "./mixins.scss";
@import "./reset.scss";

// Remember... '#' are id's, and '.' are classes.
// If there is only one element on the page, use an id, if it will be repeated use classes.

#App {
  @include flex(column);
  background-color: $dark;
  color: $light;
  height: 100vh;
  text-align: center;
}
